[submodule "CA1"]
	path = CA1
	url = https://github.com/mohammadsaadati80/Data-Mining-COVID-19-Analysis
[submodule "CA2"]
	path = CA2
	url = https://github.com/mohammadsaadati80/Data-Mining-Market-Basket-Analysis
[submodule "CA3"]
	path = CA3
	url = https://github.com/mohammadsaadati80/Data-Mining-Diabet-Clustering
[submodule "FinalProject"]
	path = FinalProject
	url = https://github.com/mohammadsaadati80/Data-Mining-Earthquake-Damage-Grade-Prediction
